#to prevent shows the directories list for your project in user's browser
Options -Indexes
# Hint => working only with apache server

#----------------------------------------------------------------------------

The best way to do this is disable it with webserver apache2.  open /etc/apache2/apache2.conf change from

<Directory /var/www/>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
</Directory>

TO

<Directory /var/www/>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
</Directory>
then restart apache by:

$sudo service apache2 restart
